<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="main-fragment(title,header,footer,cssResources,jsResources,mainContent)">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:replace="${title}">Shop Shoes</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{https://cdn.printgo.vn/uploads/media/772948/thiet-ke-logo-shop-giay-19_1584095087.jpg}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" th:href="@{/shop/css/bootstrap.min.css}">
    <!-- Main CSS File -->
    <link rel="stylesheet" th:href="@{/shop/css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/shop/vendor/fontawesome-free/css/all.min.css}">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/shop/vendor/simple-line-icons/css/simple-line-icons.min.css}">-->
    <link rel="stylesheet" th:href="@{/shop/toastr/toastr.min.css}"/>
    <th:block th:replace="${cssResources} ?: ~{}"></th:block>
    <style>
        label.error{}
        label.error{
            color:red;
        }
    </style>
</head>
<body>
<div class="page-wrapper">
    <!-- HEADER -->
    <th:block th:replace="~{fragment/header :: ${header}}"></th:block>

    <!-- BODY -->
    <th:block th:replace="${mainContent} ?: ~{}"></th:block>

    <!-- Login-Modal -->
    <th:block th:replace="~{fragment/login_modal :: login_modal}"></th:block>

    <!-- FOOTER -->
    <th:block th:replace="~{fragment/footer :: ${footer}}"></th:block>
</div><!-- End .page-wrapper -->

<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>

<!-- Plugins JS File -->
<script th:src="@{/shop/js/jquery.min.js}"></script>
<script th:src="@{/shop/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/shop/js/plugins.min.js}"></script>

<!-- Main JS File -->
<script th:src="@{/shop/js/main.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" type="text/javascript"></script>
<script th:src="@{/shop/js/user.js}"></script>
<script type="text/javascript" th:src="@{/shop/toastr/toastr.min.js}"></script>

<script th:inline="javascript">
    let isLogined = [[${isLogined}]];

    $(function () {
        if (isLogined == true) {
            signedValidate(true, [[${user_fullname}]]);
        } else {
            signedValidate();
        }
    })
    function formatMoney() {
        $('.text-price').each(function (index, element) {
            money = $(element).text();
            $(element).text(convertPrice(money));
        });
        $('.text-price-input').each(function (index, element) {
            money = $(element).val();
            $(element).val(convertPrice(money));
        });
    }
    function convertPrice(currency) {
        let convert = new Intl.NumberFormat('vn-VN', {
            minimumFractionDigits: 0
        }).format(currency);

        return convert;
    }
    $('.text-price-input').keyup(function (event) {
        if (event.which >= 37 && event.which <= 40) return;
        $(this).val(function (index, value) {
            return value
                .replace(/\D/g, "")
        });
    })

</script>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml            : true,
            version          : 'v10.0'
        });
    };

    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
     attribution="setup_tool"
     page_id="100953808790180">
</div>

<th:block th:replace="${jsResources} ?: ~{}"></th:block>

</body>

<!-- Mirrored from portotheme.com/html/porto_ecommerce/demo_6/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Mar 2021 05:23:00 GMT -->
</html>